[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/doom"]
	path = .config/doom
	url = https://github.com/lukas018/emacs-config.git
[submodule "org"]
	path = org
	url = https://github.com/lukas018/org-files.git
[submodule ".config/zsh/zsh-history-substring-search"]
	path = .config/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
