[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/.config/doom"]
	path = .config/doom
	url = git@github.com:lukas018/emacs-config.git
[submodule "org"]
	path = org
	url = git@github.com:lukas018/org-files.git
